* {
    box-sizing: border-box;
    color:white;
  }
  a{
    text-decoration: none;
    color:lightblue
  }
  body {
    margin: 0;
    background-color: black;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content .header {
    background: black;
    padding: 16px;
    color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: black;
    height: 300px;
  }
  
  .column a {
    float: none;
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .column a:hover {
    background-color: #ddd;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      height: auto;
    }
  }
  .mySlides{display: none;}
  img{vertical-align: middle;}
  .slideshow-container{
      max-width: 500px;
      position: relative;
      margin: auto;
  }
  .prev,.next{
      cursor:pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-size: 18px;
      font-weight: bold;
      transition:0.6s ease;
      border-radius:0 3px 3px 0;
      user-select: none;
  }
  .next{
      right: 0;
      border-radius: 3px 0 0 3px;
  }
  .prev:hover,.next:hover{
      background-color: rgba(0,0,0,0.8);
  }
  .text{
      color:black;
      font-size: 15px;
      padding:8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
  }
  .numbertext{
      color: #f2f2f2;
      font-size: 12px;
      padding:8px 12px;
      position: absolute;
      top: 0;
  }
  .fade{
      animation: fade;
      animation-duration:1.5S;
  }
  @keyframes fade{
      from{opacity: .4;}
      to  {opacity: 1;}
  };
  @media only screen and (max-whit:300px) {
      .prev, .next,.text{
          font-size: 11px;
      }
  }
  #today{
    border: 1px solid white;
    margin-top:50px ;
    width: 400px;
    height: 300px;
    
    margin: 10px;
    display: inline-block;
  }
  #best{
    border: 1px solid white;
    margin-top:50px ;
    width: 400px;
    height: 300px;
    margin: 10px;
    display: inline-block;
  }
  #contral{
    display: flex;
    margin-left: 30%;
  }